DISCORD_TOKEN=""
GIFS_FILE="/root/botghast/bot/data/gifs.json"
QUOTES_FILE="/root/botghast/bot/data/quotes.json"
# Spotify (?viking command)
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
SPOTIFY_REFRESH_TOKEN=""
SPOTIFY_PLAYLIST="https://open.spotify.com/playlist/..."
